{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{parent()}} Utilisateurs {% endblock %}

{% block contenu %}
 <table class="table">
  <thead class="thead-light">
  <tr>
   <th scope="col">Email</th>
   <th scope="col">Nom</th>
   <th scope="col">Prénom</th>
   <th scope="col">Rôle</th>
   <th></th>
   <th></th>
  </tr>
  </thead>
  <tbody>
  {% for u in liste %}
   <tr>
    <td>{{u.email}}</td>
    <td>{{u.nom}}</td>
    <td>{{u.prenom}}</td>
    <td>{{u.idRole}}</td>
    <td><a href="index.php?page=modif-utilisateur&email={{u.email}}"><i class="material-icons" style="color:black">create</i></a></td>
    <td><a href="index.php?page=utilisateur&email={{u.email}}"><i class="material-icons" style="color:black">delete_sweep</i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

{% endblock %}
  