{% extends "base.html.twig" %}
{% block style %}<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endblock %}
{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} <!tjrs mettre block contenu sinn ça marche pas!>
    

<div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">

                                    <h5>
                                        {{ unUtilisateur.prenom }} {{ unUtilisateur.nom }}
                                    </h5>
                                    <h6>
                                        Web Developer and Designer
                                    </h6>
                                    <p>RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Langages connus</a>
                                </li>
                            </ul>
                        <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Modifier le profil"/>
                            <div class="row">
                            <div class="col-md-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ unUtilisateur.email }}</p>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ unUtilisateur.nom }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Prenom:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ unUtilisateur.prenom }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Fonction sur le site:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ unUtilisateur.libellerole }}</p> <!--mettre mm chose que dans le select-->
                            </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <a href="http://serveur1.arras-sio.com/symfony4-4063/ppe/web/index.php?page=modiflangages">Modifier et/ou ajouter des languages</a>

                            <div class="row">
                                <br>
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>230</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <a href="index.php?page=modifprofil">Modifier le profil</a>


                        </div>
                    </div>
                            
     
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            </div>
                    </div>
                </div>
            </form>           
        </div>

{% endblock %}